<div class="another-template">

	<style>
		.another-template {
			position:fixed;
			left:50%;
			top:-50px;
			z-index: 9999;
			max-width:400px;
			text-align: center;

			border:1px solid #e1e1e8;
			background-color: #f7f7f9;
			font-size: 18px;
			padding:2px 8px 2px 8px;

			-webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out;
			-moz-transition: top 0.5s ease-out,opacity 0.5s ease-out;
			-o-transition: top 0.5s ease-out,opacity 0.5s ease-out;
			transition: top 0.5s ease-out,opacity 0.5s ease-out;
		}

	</style>

	<div>
		<span>{{$message}}<span>
		</div>
	<div>
		<button class="btn btn-default btn-xs" ng-repeat="button in buttons" ng-click="button.callback()" style="margin-right:4px">{{button.name}}</button>
	</div>

</div>